server:
  port: 3000

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/boomberry
    username: boomberry
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  jackson:
    time-zone: Asia/Ho_Chi_Minh